# Klucze API i sekrety
.env
google_maps_test/.env

# Python (wirtualne środowiska i cache)
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Folder cache i temp
cache/
temp/

# IDE
.vscode/
.idea/
*.code-workspace
